<main class="container">
  <%= if get_flash(@conn, :info) do %>
    <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
  <% end %>

  <%= if get_flash(@conn, :error) do %>
    <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>
  <% end %>

  <%= @inner_content %>
</main>
