@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/nprogress/nprogress.css";

ul.setup-photos {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;
    padding: 0 0 4px 0;
    position: relative;

    .remove-photo {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 30px;
      line-height: .8;
      background: #333;
      color: #a0a0a0;
      opacity: 0.6;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.profile-carousel {
  .carousel-control-prev:focus,
  .carousel-control-next:focus {
    opacity: .5;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background: #000;
    opacity: .5;
  }
}

.phx-disconnected {
  .match-station {
    display: none;
  }
}

.roast-station {
  .matches {
    white-space: nowrap;
    overflow: auto;

    img.profile-pic {
      height: 70px;
      width: 70px;
      border-radius: 100%;
      cursor: pointer;
      opacity: .5;

      &:hover {
        opacity: .7;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
