<div class="text-center">
  <form phx-change="change" phx-submit="submit">
    <textarea name="bio" class="form-control" placeholder="Roast worthy bio..."><%= @bio %></textarea>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
