<p>If you wish you have your data deleted, please email me at spambrianp@gmail.com.</p>
<p>You will need to provide your <a href="https://www.facebook.com/help/1397933243846983">Facebook user ID</a> for the request to go through.
